input {
	height: 2rem;
	width: 20rem;
}
button {
	margin: auto;
}

hr {
	width: 20rem;
}
a {
	font-weight: bold;
	color: #41b06e;
}
a:hover {
	color: black;
}
a:visited {
	color: #41b06e;
}
.grid-container {
	display: grid;
	grid-template-rows: 1fr 10fr 4fr;
	height: 100vh;
	width: 100vw;
}
#login-form {
	grid-row: 2;
	display: grid;
	grid-template-rows: 10rem 2rem 4rem 2rem 4rem 5rem 4rem 5rem;
	align-items: center;
	justify-content: center;
}

#logo {
	grid-row: 1;
	margin: auto;
}

#email-text {
	grid-row: 2;
	font-weight: bold;
	align-self: end;
}
#email-input {
	grid-row: 3;
}
#password-text {
	grid-row: 4;
	font-weight: bold;
	align-self: end;
}
#password-input {
	grid-row: 5;
}
#login-button {
	grid-row: 6;
}
#register-button {
	grid-row: 8;
}

#error-container {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
	text-align: center;
}

p {
	color: red;
	font-weight: bold;
}