input {
	height: 2rem;
	width: 20rem;
}
button {
	margin: auto;
}

hr {
	width: 40rem;
	height: 0px;
	grid-column: 1 / span 3;
}
a {
	font-weight: bold;
	color: #41b06e;
}
a:visited {
	color: #41b06e;
}
select {
	width: 12rem;
	height: 2.5rem;
}
a:hover {
	color: black;
}
.grid-container {
	display: grid;
	grid-template-rows: 1fr 10fr 1fr;
	height: 100vh;
	width: 100vw;
}
#registration-form {
	grid-row: 2;
	display: grid;
	grid-template-columns: 5fr 1fr 5fr;
	grid-template-rows: 12rem repeat(4, 2rem 4rem) 6rem 2rem 4rem;
	width: 40%;
	align-self: center;
	justify-self: center;
	justify-content: baseline;
	align-content: baseline;
}

#logo {
	grid-row: 1;
	grid-column: 1 / span 3;
	margin: auto;
	align-self: baseline;
}

#first-name-text {
	grid-column: 1;
	grid-row: 2;
}
#first-name-input {
	grid-column: 1;
	grid-row: 3;
}
#last-name-text {
	grid-column: 3;
	grid-row: 2;
}
#last-name-input {
	grid-column: 3;
	grid-row: 3;
}

#email-text {
	grid-column: 1;
	grid-row: 4;
}
#email-input {
	grid-column: 1;
	grid-row: 5;
}

#adress-text {
	grid-column: 3;
	grid-row: 4;
}
#adress-input {
	grid-column: 3;
	grid-row: 5;
}
#postal-text {
	grid-column: 1;
	grid-row: 6;
}
#postal-input {
	grid-column: 1;
	grid-row: 7;
}
#country-text {
	grid-column: 3;
	grid-row: 6;
}
#select-input {
	grid-column: 3;
	grid-row: 7;
}
#password-text {
	grid-column: 1;
	grid-row: 8;
}
#password-input {
	grid-column: 1;
	grid-row: 9;
}
#confirm-password-text {
	grid-column: 3;
	grid-row: 8;
}
#confirm-password-input {
	grid-column: 3;
	grid-row: 9;
}

#register-button,
#login-page-text {
	grid-column: 1 / span 3;
}

#error-container {
	grid-column: 1 / span 3;
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

p {
	color: red;
	font-weight: bold;
}
