* {
	font-size: 1.1rem;
}
body {
	margin: 0;
	background-color: #fff5e0;
}

input,
select,
textarea {
	background-color: white;
	border-width: 5px;
	border: solid;
	border-color: lightgray;
	transition: border-color 0.5s ease;
}
input:focus,
select:focus,
textarea:focus {
	outline: none !important;
	border-color: #141e46;
}
input:hover,
select:hover,
textarea:hover {
	border-color: #141e46;
}

button {
	border-radius: 20px;
	border: 0px;
	background-color: #41b06e;
	color: #ffffff;
	width: 10rem;
	height: 2.5rem;
	font-weight: bold;
	transition: transform 0.5s ease;
}
button:hover {
	transform: scale(1.1);
	background-color: #8decb4;
	color: #000000;
}

.center-text {
	text-align: center;
}

.main-container {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-rows: 2fr 20fr 2fr;
}

a {
	font-size: 1.2rem;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
}
a:visited {
	color: inherit;
}
.current-page {
	font-weight: bold;
}
/* HEADER */
header {
	grid-row: 1;
	background-color: #8decb4;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr 20fr 2fr;
	padding: 1rem;
	justify-content: baseline;
}

#app-name {
	font-family: fantasy;
	font-style: italic;
}
#logo {
	border-radius: 100%;
	border: solid #41b06e;
}
nav {
	justify-self: baseline;
	align-self: center;
	margin-left: 5rem;
	display: grid;
	grid-auto-flow: column;
	column-gap: 2rem;
}
#logout {
	align-self: center;
}

/* HEADER END*/

.main-content {
	grid-row: 2;
}

footer {
	grid-row: 3;
	background-color: #8decb4;
	padding: 1rem;
}
