* {
	font-size: 1.1rem;
}
body {
	margin: 0;
	background-color: #fff5e0;
}

input,
select {
	background-color: white;
	border-width: 5px;
	border: solid;
	border-color: lightgray;
	transition: border-color 0.5s ease;
}
input:focus,
select:focus {
	outline: none !important;
	border-color: #141e46;
}
input:hover,
select:hover {
	border-color: #141e46;
}

button {
	border-radius: 20px;
	border: 0px;
	background-color: #41b06e;
	color: #ffffff;
	width: 10rem;
	height: 2.5rem;
	font-weight: bold;
	transition: transform 0.5s ease;
}
button:hover {
	transform: scale(1.1);
	background-color: #8decb4;
	color: #000000;
}

.center-text {
	text-align: center;
}
